// Базовые настройки----------------
.container {
    max-width: 1840px;
    margin: 0 auto;
    padding: 0 40px;
}
.container-2 {
    max-width: 1760px;
    padding: 0 100px;
    margin: 0 auto;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
  }
li {
    list-style-type: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Helvetica Neue',Helvetica,'Segoe UI',Arial,sans-serif;
}
// Header----------------
.header__top {
    p {
        padding: 0;
        margin: 0;
    }
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        .header__title-text {
            margin-left: 20px;
        }
        .logo__img {
            width: 280px;
        }
    }
    .menu {
        font-size: 26px;
        .menu__list-item {
            display: inline-block;
            padding: 0 10px;
            color: red;
        }
    }
    .menu__search-buttons {
        display: flex;
        // justify-content: space-between;
        align-items: center; 

        .header__menu-button {
            .menu-button {
                border: none;
                background-color:transparent;
                .menu-button__icon {
                    max-width: 36px;
                }
                // .menu__text {
                //     // padding-top: 13px;
                // }
            }
        }
        .header__search-button {
            .search-button {
                border: none;
                background-color:transparent;
                .search-button__icon {
                    max-width: 26px;
                }
    
            }
        }
    }
}
// Main----------------
.main {
    padding: 30px 0 30px 0;
    background-color: rgb(133, 213, 133);
    background-size: cover;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    font-size: 22px;
    span,.rnk {
        font-weight: bold;
    }
}
// Information----------------
.social__networks {

    img {
        max-width: 36px;
    }
    li {
        display: inline-block;  
    }
}
.information {
    max-width: 880px;
    padding: 0 100px;
    .social__networks {
        padding: 10px 0 10px 0;
        img {
            width: 36px;
        }
        li {
            display: inline-block;  
        }
    }
    .about__the__site-title {
        font-size: 40px;
    }
    .services {
        .services__links {
            font-size: 21px;
            li {
                margin: 20px 0 0 0;
                list-style-type: disc;
                a {
                    color: #e22658;
                    text-decoration: underline;
                }
            }
            :last-child {
                list-style-type: none;
            } 
        }
    }
    .analyzes {
        .title {
            font-size: 40px;
        }
        .analyzes__text {
            line-height: 1.8;
            font-size: 21px;
            a {
                color: #e22658;
            }
        }
    }
    .photos {
        img {
            width: 100%;
        }
    }
    .get__by__car-title {
        font-size: 40px;
    }
    .get__by__car-subtitle {
        font-size: 21px;            
    }
    .yandex__navegation-link,.google__navegation-link  {
        .yandex__navigation,.google__navigation {
            max-width: 50px;
        }
    }
    .reception {
        .reception__title {
            font-size: 40px;
        }
        .reception__text {
            font-size: 21px;
            a {
                text-decoration: underline;
                color: #e22658;
            }
        }
    }
}
.footer {
    padding-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
// Бургер----------------
.menu__burger {
    .li {
        padding:0;
    }
    .menu__lists {
        padding: 0;
    }
    display: none;
    padding: 10px 30px;
    max-width: 33%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    .close {
        display: flex;
        justify-content: end;
        .close__menu {
            display: flex;
            align-items: center;
            border: none;
            background: transparent;
            font-size: 18px;
            text-decoration: underline;
            padding: 20px;
            img {
                margin-left: 10px;
                width: 25px;
                height: 25px;
            }
        }
    }
    .menu__lists {
        font-size: 26px;
        .menu__list-item {
            padding: 0 10px;
            color: red;
        }
    }
}
.active {
    display: block;
    .menu__burger {
    animation-name: menu__animation;
    animation-delay: 2s ;
    }
    @keyframes menu__animation  {
        0% {
            right: -500px;
        }
        100% {
            right: 1000px;
        }
    }
}

